<div class="recipe-info">
  <h3><%= @recipe.name %></h3>
  <%= image_tag(@recipe.image, width: 500) %>
  
  <div class="ingredients">
  <p1><%= @recipe.ingredients %></p1> 
  </div>
  
  <div class="method">
  <p2><%= @recipe.method %></p2> 
  </div>

</div>