body {
  background-image: url('N19-2_CleanChoppingBoard-575x375.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.h1 {
  font-family: 'Amatic SC';
  font-size: 44px;
}

a:hover, a:visited, a:link, a:active {
  color: black;
  text-decoration: none;

}

.boxhead a {
  text-decoration: none;
}